{libraries}
{styles}
<style>
.b-data {padding-top: 20px !important}
</style>
<div class="b-data__content" id="content" style="margin-top: 0">

<div class="row-main row-main--article">
<h1 class="b-data__title b-data__title--sm">
{title}
</h1>
</div>
{column}
<p class="text-bold text-lg">{perex}</p>
<p class="meta meta--icon">
	<span class="icon-svg icon-svg--bullet">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="https://www.irozhlas.cz/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-bullet" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>

	<strong>Praha</strong> <time>{published}</time>

	<span class="m-socials">
		<a href="#" class="m-socials__link">
			<span class="vhide">Sdílet na Facebooku</span>
			<span class="icon-svg icon-svg--facebook">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="https://www.irozhlas.cz/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-facebook" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>

		</a>
		<a href="#" class="m-socials__link">
			<span class="vhide">Sdílet na Twitteru</span>
			<span class="icon-svg icon-svg--twitter">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="https://www.irozhlas.cz/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-twitter" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>

		</a>
		<a href="#" class="m-socials__link">
			<span class="vhide">Sdílet na Google+</span>
			<span class="icon-svg icon-svg--gplus">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="https://www.irozhlas.cz/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-gplus" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>

		</a>
		<a href="#" class="m-socials__link js-print">
			<span class="vhide">Tisknout</span>
			<span class="icon-svg icon-svg--printer">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="https://www.irozhlas.cz/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-printer" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>

		</a>
		<a href="#" class="m-socials__link">
			<span class="vhide">Poslat e-mailem</span>
			<span class="icon-svg icon-svg--email">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="https://www.irozhlas.cz/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-email" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>

		</a>
		<a href="#" class="m-socials__link">
			<span class="vhide">RSS autora</span>
			<span class="icon-svg icon-svg--rss">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="https://www.irozhlas.cz/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-rss" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>

		</a>
<span class="m-socials__clipboard">
	<a href="#" class="m-socials__link js-clipboard" data-url="./getClipboardUrl.html">
		<span class="vhide">Kopírovat url adresu</span>
		<span class="icon-svg icon-svg--url">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="https://www.irozhlas.cz/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-url" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>

	</a>
	<span class="b-clipboard ">
		<span class="b-clipboard__title">Zkrácená adresa</span>
		<span class="inp">
			<span class="inp__fix">
				<input type="text" class="inp__text inp__text--icon-after" readonly>
				<button class="btn btn--icon-blank js-clipboard-copy" title="Kopírovat do schránky" data-copied="Zkopírováno">
					<span class="btn__text">
						<span class="vhide">Kopírovat do schránky</span>
						<span class="icon-svg icon-svg--url">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="https://www.irozhlas.cz/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-url" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>

					</span>
				</button>
			</span>
		</span>
		<a href="#" class="b-clipboard__close">
			<span class="vhide">Zavřít</span>
			<span class="icon-svg icon-svg--close">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="https://www.irozhlas.cz/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-close" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>

		</a>
	</span>
</span>
	</span>
</p>

{mainphoto}

{content}

<p class="meta meta--right meta--big">
<strong><a href="#" class="meta__link">{authors}</a></strong>
</p>
</div>
<!--[[ZPRAVY_SNOWFALL_RELATED:ARTICLES]]-->
</div>
</article>